.card {
    height: 300px;
    width: 300px;
    background-color: #6666;
    box-shadow: 0 0 15px rgba(255,255,255,0.7);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.card h2 {
  font-size: 28px;
  color: #800000;
  text-shadow: 2px 2px black;
  font-family: 'Permanent Marker', cursive;
}

.boxing img {
width: 100px;
height: 200px;
}
.bjj img {
    width:100px;
    height: 200px;
}

.wrestling img {
    width:100px;
    height: 200px;
}

